body{
  margin:0;
  padding: 0;
}
.header-container{
  padding: 0 5%;
  z-index: 99;
  width: 90%;
  top:0;
  left: 0;
  height: 70px;
  background-color: grey;
  position: fixed;
}
.header-content{
  display: flex;
  height: 100%;
  align-items:center;
  flex-direction: row;
  justify-content: space-between;
}
.page{
  margin-top: 90px;
  padding: 0 5%;
  padding-bottom: 10%;
  width: 90%;
  overflow-x: hidden;
}
.loader{
  border: 2px dot-dash greenyellow;
  position: fixed;
  width: 100px;
  align-self: center;
  height: 100px;
  border-radius: 180px;
}
.loader-enter-active{
  animation: enter forwards;
}
.loader-exit{
  animation: spin infinite;
}
.loader-exit-active{
  animation: enter reverse;
}
@keyframes enter {
  0%{
    transform: translateY(-70vh);
  }
  100%{
    transform: translateY(0);
  }
}
@keyframes spin{
  0%{
    transform: rotateZ(0deg);
  }
  100%{
    transform: rotateZ(360deg);
  }
}
@media (max-width: 767px) {
  .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation0.MuiPopover-paper.MuiMenu-paper.css-1pe8bu9-MuiPaper-root-MuiPopover-paper-MuiMenu-paper{
    margin-left: -2%;
  }
}
.profile-container{
  display: grid;
  width: 100%;
  margin-top: 4vh;
  grid-template-columns: 8fr 2fr;
}
.profile-menu{
  width:100%;
}
.profile-menu-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-menu-container div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  height: 6vh;
  transition: 1s;
}
.profile-menu-container div:hover{
  box-shadow: 0px 0px 21px 18px rgba(84, 74, 240, 0.23);
}
.create-item-inputs{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(4,1fr) ;
  grid-template-areas:
          'item-1 item-2'
          'item-3 item-5'
          'item-4 item-5';
  width: 80%;
  margin-top: 7vh;
  column-gap: 4vw;
  row-gap: 3vh;
  margin-bottom: 3vh;
}

.input-file {
  position: relative;
  display: inline-block;
}
.input-file span {
  position: relative;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-size: 18px;
  vertical-align: center;
  color: rgb(255 255 255);
  text-align: center;
  border-radius: 4px;
  background-color: #654191;
  line-height: 22px;
  height: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  border: none;
  margin: 0;
  transition: background-color 0.2s;
}
.input-file input[type=file] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

/* Focus */
.input-file input[type=file]:focus + span {
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

/* Hover/active */
.input-file:hover span {
  background-color: #5966be;
}
.input-file:active span {
  background-color: #362a85;
}

/* Disabled */
.input-file input[type=file]:disabled + span {
  background-color: #eee;
}

.admin-catalog{
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
}
.admin-catalog-product{
  display: grid;
  border:1px solid grey;
  padding: 2%;
  grid-template-columns: 2fr 5fr 1fr;
  column-gap: 1vw;
}